<div class="w3-container w3-card w3-white">
	<h2 class="w3-text-grey w3-padding-16">
		<i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
	<!-- Read in an array of the education from JSON-->
	<div *ngFor="let myJ of profile.education">
		<div class="w3-container">
			<h5 class="w3-opacity"><b>{{profile.education.school}}</b></h5>
			<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{profile.education.date}}</h6>
			<p>{{profile.education.degree}}</p>
			<hr>
		</div>
	</div>
</div>